.alldisplayy {
    display: flex;
}

.fortheoryy {
    margin: 20px;
    
    display: block;
    background-color: #ffffff; /* Oq fon */
    border-radius: 10px; /* Burchaklarni yumaloq qilish */
    padding: 20px; /* Ichki bo'shliq */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Yengil soya qo'shish */
    text-align: center; /* Matn markazda */
    
}
.newAtributee{
    display: flex;
    
}