* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homewrappper{
  padding-top: 250px;
}

.wrapper {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: auto;
  
}

.form-signin {
  display: flex;
  flex-direction: column;
}

.form-signin-heading {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
}

.form-control {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.wrapperbtn {
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wrapperbtn:hover {
  background-color: #0056b3;
}

.wrapperbtn-block {
  width: 100%;
}